{% extends "base1.html" %}
{% block content %}

<h3 style="text-align: center; ">  Welcome  ! </h3><br>
<h3 style="text-align: center;">Your Order </h3><br>
<form action="" method="post">
  <table class="table table-borderless">
      <tr>
          <td><b>Enter Phone number</b></td>
          <td><input name="number" class = "form-control" type="text" > </td>
      </tr>
  </table>
  <br>
  <center><button class="btn btn-success" type="submit" >confirm</button></center>
</form>   
  <br><br>

  <div class="container" style="color: rgb(0, 0, 0);">
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <table class="table" style="color: rgb(0, 0, 0);">
                <thead>
                    <tr>
                        <th scope="col">Customer name</th>
                        <th scope="col">email id</th>
                        <th scope="col">phone no</th>
                        <th scope="col">address</th>
                        <th scope="col">pincode</th>
                        <th scope="col">payment mode</th>
                        <th scope="col">item ordered</th>
                        
                    </tr>
                </thead>
                <tbody style="color: rgb(0, 0, 0);">
                    {% for i in detail %}
                    <tr>
                        <th scope="row">{{i[1]}}</th>
                            <td>{{i[2]}}</td>
                            <td>{{i[3]}}</td>
                            <td>{{i[4]}}</td>
                            <td>{{i[5]}}</td>
                            <td>{{i[6]}}</td>
                            <td>{{i[7]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<br><br><br>

{% endblock %}
