
{% extends "base1.html" %}
{% block content %}

<div class="container">
  <div class="row">
      {% for i in groc1 %}
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="card mb-3" style="max-width: 1260px;">
          <div class="row g-0">
              <div class="col-md-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1xYCqoil43Qq8bUd9JJM-nPLxpeVo_uCp8A&usqp=CAU" class="img-fluid rounded-start" alt="img not available">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                   <h5 class="card-title"><center>{{i[1]}}</center></h5>
                </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">details : {{i[2]}}</li>
                    <li class="list-group-item">price : {{i[3]}}</li>
                  </ul>
                  <br>
                      <a href="" class="btn btn-success" type="submit">Buy now</a>&emsp;
                      <a href="" class="btn btn-warning" type="submit" >Add to cart</a>
                  
              </div>
          </div>
        </div>   

      </div>
      {% endfor %}

  </div>
</div>


   {% endblock %}